.detailSkeleton{
    display: flex;
    box-sizing: border-box;
}

.detailSkeletonIntroLeft{
    width: calc(100% - 135px);
    padding: 20px;
}

.firstOnLeft {
    margin-bottom: 12px;
}

.secondOnLeft {
    margin-bottom: 16px;
}

.buttonOnLeft {
    margin-bottom: 16px;
}

.detailSkeletonButtonRight{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    width: 135px;
}

.detailSkeletonButtonRight  .detailSkeletonRight{
    margin: 5px;
}

.installer{
    padding: 20px;
}

::deep fluent-dialog::part(control) {
    --dialog-width: 60%;
    --dialog-height: 100%;
    padding: 0 !important;
    overflow: hidden;
    position: relative;
}

@media only screen and (max-width: 1270px) {
    ::deep fluent-dialog::part(control) {
        --dialog-width: 100%;
    }

    .detailSkeletonButtonRight{
        width: 175px;
    }

    .detailSkeletonIntroLeft{
        width: calc(100% - 175px);
    }
}

::deep .cancelButton {
    position: absolute;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    z-index: 5;
    right: 0;
    top: -6px;
}

.detail {
    overflow-y: scroll;
    height: 100%;
    position: relative;
}

.detail .cover {
    object-fit: cover;
    height: 50vh;
    width: 100%;
    border-radius: 5px;
}

.detail .mask {
    position: absolute;
    top: 0;
    height: 50vh;
    width: 100%;
    background: linear-gradient(to top, var(--fill-color), rgba(255, 255, 255, 0));
}

.detail .head {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.detail .head > div fluent-button+fluent-button {
    margin-left: 10px;
}

.head > div:first-child {
    text-align: left;
}

.detail .head > div:last-child {
    text-align: right;
    padding: 20px 0;
    min-width: 250px;
}

.detail .head > div:last-child p {
    margin: 5px;
}

.detail .info {
    padding: 0 30px 20px 30px;
}

.detail .info > div {
    margin-bottom: 20px;
}

.detail .info > div:last-child {
    margin-bottom: 0;
}

.detail .info fluent-text-field {
    width: 300px;
}

.detail .info fluent-data-grid {
    max-height: 400px;
    overflow-y: scroll;
}

.detail .copyright {
    text-align: center;
}