<div class="bannerSkeleton">
    <FluentCard Shimmer="true">
        <FluentSkeleton class="bannerSkeletonTitle" Width="200px" Height="36px" Shape="SkeletonShape.Rect" Shimmer="true"></FluentSkeleton>
        <FluentSkeleton class="bannerSkeletonIntro" Width="250px" Height="20px" Shape="SkeletonShape.Rect"  Shimmer="true"></FluentSkeleton>
        <FluentSkeleton class="bannerSkeletonButton" Width="82px" Height="32px" Shape="SkeletonShape.Rect"  Shimmer="true"></FluentSkeleton>
    </FluentCard>
</div>