<div>
    <FluentCard Width="100%" class="skeleton" Shimmer="true">
        <div class="skeletonBox"></div>
        <FluentSkeleton class="packageSkeleton" Height="20px" Shimmer="true"></FluentSkeleton>

        <FluentDivider></FluentDivider>
        <FluentSkeleton class="titleSkeleton" Width="60%" Height="32px" Shape="SkeletonShape.Rect"  Shimmer="true"></FluentSkeleton>
        <FluentSkeleton class="iconSkeleton"  Width="50px" Height="50px" Shape="SkeletonShape.Rect"  Shimmer="true"></FluentSkeleton>

        <FluentSkeleton class="firmSkeleton" Width="90%" Height="20px" Shape="SkeletonShape.Rect"  Shimmer="true"></FluentSkeleton>
        <FluentSkeleton class="introSkeleton" Width="100%" Height="13px" Shimmer="true"></FluentSkeleton>
        <FluentSkeleton class="introSkeleton" Width="100%" Height="13px" Shimmer="true"></FluentSkeleton>
        <FluentSkeleton class="introSkeleton" Width="100%" Height="13px" Shimmer="true"></FluentSkeleton>
        <FluentSkeleton class="buttonSkeleton starSkeleton" Width="72px" Height="32px" Shape="SkeletonShape.Rect"  Shimmer="true"></FluentSkeleton>
        <FluentSkeleton class="buttonSkeleton moreSkeleton" Width="82px" Height="32px" Shape="SkeletonShape.Rect"  Shimmer="true"></FluentSkeleton>
    </FluentCard>
</div>