<FluentCard class="skeleton" Shimmer="true">
    <div class="skeletonBox"></div>
    <FluentSkeleton class="packageSkeleton" Height="20px" Shimmer="true"></FluentSkeleton>

    <FluentDivider></FluentDivider>
    <FluentSkeleton class="titleSkeleton" Width="60%" Height="32px" Shape="SkeletonShape.Rect"  Shimmer="true"></FluentSkeleton>
    <FluentSkeleton class="iconSkeleton"  Width="50px" Height="50px" Shape="SkeletonShape.Rect"  Shimmer="true"></FluentSkeleton>

    <FluentSkeleton class="firmSkeleton" Width="90%" Height="20px" Shape="SkeletonShape.Rect"  Shimmer="true"></FluentSkeleton>
    <FluentSkeleton class="introSkeleton" Width="100%" Height="13px" Shimmer="true"></FluentSkeleton>
    <FluentSkeleton class="introSkeleton" Width="100%" Height="13px" Shimmer="true"></FluentSkeleton>
    <FluentSkeleton class="introSkeleton" Width="100%" Height="13px" Shimmer="true"></FluentSkeleton>
    <FluentSkeleton class="buttonSkeleton starSkeleton" Width="72px" Height="32px" Shape="SkeletonShape.Rect"  Shimmer="true"></FluentSkeleton>
    <FluentSkeleton class="buttonSkeleton moreSkeleton" Width="82px" Height="32px" Shape="SkeletonShape.Rect"  Shimmer="true"></FluentSkeleton>
</FluentCard>

<style>
    .skeleton{
        height: 300px;
        position: relative;
        padding: 20px 20px 60px 20px;
        box-sizing: border-box;
    }

    .skeleton .packageSkeleton{
        border-radius: 7px;
        margin-bottom: 16px;
    }

    .skeleton .titleSkeleton{
        float: left;
        margin: 0.75rem 0;
    }

    .skeleton .iconSkeleton{
        float: right;
        border-radius: 5px;
        margin: 10px;
    }

    .skeleton .firmSkeleton{
        margin-bottom: 10px;
    }

    .skeleton .introSkeleton{
        margin: 5px 0 6px 0;
    }

    .skeleton .buttonSkeleton{
        float: left;
        position: absolute;
        bottom: 30px;
    }

    .skeleton .moreSkeleton{
        left: 105px;
    }

    .skeleton .starSkeleton{
        left: 20px;
    }

    .skeletonBox{
        width: 5000px;
    }
</style>