<div class="skeleton">
    <FluentCard Shimmer="true" class="collectionSkeleton">
        <div class="left">
            <div>
                <FluentSkeleton class="collectionSkeletonTitle" Width="205px" Height="36px" Shape="SkeletonShape.Rect" Shimmer="true"></FluentSkeleton>
                <FluentSkeleton class="collectionSkeletonIntro" Width="180px" Height="20px" Shape="SkeletonShape.Rect"  Shimmer="true"></FluentSkeleton>
                <FluentSkeleton class="collectionSkeletonButton" Width="90px" Height="40px" Shape="SkeletonShape.Rect"  Shimmer="true"></FluentSkeleton>
            </div>
        </div>
        <div class="right">
            <FluentSkeleton class="collectionSkeletonFirstSign" Width="50px" Height="50px" Shape="SkeletonShape.Rect"  Shimmer="true"></FluentSkeleton>
            <FluentSkeleton class="collectionSkeletonSecondSign" Width="50px" Height="50px" Shape="SkeletonShape.Rect"  Shimmer="true"></FluentSkeleton>
            <FluentSkeleton class="collectionSkeletonThirdSign" Width="50px" Height="50px" Shape="SkeletonShape.Rect"  Shimmer="true"></FluentSkeleton>
        </div>
    </FluentCard>
</div>