@inherits MixApp.Shared.MainLayoutBase

<FluentDesignSystemProvider NeutralBaseColor="#1a1a1a" 
    FillColor="@Theme" 
    AccentBaseColor="@Color" 
    BaseLayerLuminance="0">
    
    <div class="layout">
        <SearchBox />
        
        <div class="main">
            <SideBar />

            <FluentStack class="container" Orientation="Orientation.Vertical"
                HorizontalAlignment="HorizontalAlignment.Center">
                @Body
            </FluentStack>
        </div>

        <Detail Software=@Software OnDismiss="@(args => Software = null)" />
    </div>
</FluentDesignSystemProvider>

<style>
    .layout {
        height: 100vh;
    }

    .main {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        display: flex;
        text-decoration: none;
    }

    .main > .container {
        height: calc(100vh - 75px);
        overflow-y: scroll;
        text-align: left;
        padding:  0 10px;
    }

    @@media only screen and (max-width: 950px) {
        .main {
            width: calc(100% - 10px);
            margin: 0;
        }

        .main > .container {
            padding: 10px 20px;
            height: 100vh;
        }
    }

    @@media only screen and (max-width: 700px) {
        .main {
            width: 100%;
        }

        .main > .container {
            padding: 10px 20px;
            height: 100vh;
        }
    }
</style>