@inherits MixApp.Components.DetailBase

<FluentDialog @ref="Dialog" @ondialogdismiss="OnDismiss" Modal="true" class="animate__animated animate__fadeIn" >
    <div class="detail">
        <img src="@Software?.Cover" class="cover animate__animated animate__fadeInDown" >

        <div class="info">
            <div style="float: right; padding: 20px;" class="animate__animated animate__fadeInRight">
                <p>@Latest.PackageVersion</p>
                <p>@Software?.PackageIdentifier</p>
                <FluentBadge Appearance="Appearance.Accent">
                    @Software?.Publisher
                </FluentBadge>
            </div>

            <div class="animate__animated animate__fadeInLeft">
                <h3>@Software?.PackageName</h3>

                <p>@Software?.ShortDescription</p>
                <p>@Latest.Description</p>
                
                <FluentButton Appearance="Appearance.Accent" Autofocus="true">Close dialog</FluentButton>
                <FluentButton>Another button</FluentButton>
            </div>
        </div>
    </div>
</FluentDialog>

<style scoped>
    fluent-dialog::part(control) {
        --dialog-width: 80vw;
        padding: 20px 0;
    }
    
    .cover {
        object-fit: cover;
        height: 60vh;
        width: 100%;
        border-radius: 5px;
    }

    .detail {
        height: 80vh;
    }

    .info {
        padding: 10px;
        overflow: hidden;
    }
</style>
