.page {
    width: 100%;
    padding: 10px 20px;
    margin: 10px;
}

.feedback {
    width: 50%;
    padding: 30px 20px;
    margin: 0 auto;
}

::deep .form {
    width: 100%;
    margin: 20px 0;
}

::deep .contact, ::deep .content {
    width: 100%;
    padding: 5px 0;
}