@page "/Softwares"
@inherits MixApp.Web.Pages.SoftwaresBase

@using MixApp.Web.Models
@inject LocaleManager LM

<PageTitle>@LM.Scripts["p.softwares.softwares"]</PageTitle>

<div class="page" >
    
    <div class="content">
        @if (Softwares.Count == 0)
        {
            for (int index = 0; index < 10; index++)
            {
                <SkeletonCard />
            }
        }
        else
        {
            @foreach (Software software in Softwares)
            {
                <SoftwareCard Software="software" />
            }
        }
    </div>

    <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center" >
        @if(IsLoading)
        {
            if(!IsFirstRender)
            {
                <FluentProgressRing class="progress"></FluentProgressRing>
            }
        }
        else
        {
            <FluentButton class="progress" OnClick="(_ => LoadData())" Appearance="Appearance.Outline">
                @LM.Scripts["p.softwares.load_more"]
            </FluentButton>
        }
    </FluentStack>
</div>
