@inherits MixApp.Shared.Shared.MainLayoutBase

<FluentDesignSystemProvider NeutralBaseColor="#1a1a1a" 
    FillColor="@Theme" 
    AccentBaseColor="@Color" 
    BaseLayerLuminance="0">
    
    <div class="layout animate__animated animate__fadeIn">
        <Header />
        
        <div class="main">
            <SideBar />

            <FluentStack class="container" Orientation="Orientation.Vertical"
                HorizontalAlignment="HorizontalAlignment.Center">
                @Body
            </FluentStack>
        </div>

        <Detail Software=@Software OnDismiss="@(args => Software = null)" />
        <RequestPermission />
    </div>

    <FluentTooltipProvider />
</FluentDesignSystemProvider>

<style>
    .layout {
        height: 100vh;
    }

    .main {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        display: flex;
        text-decoration: none;
    }

    .main > .container {
        height: calc(100vh - 60px);
        overflow-y: scroll;
        text-align: left;
    }

    @@media only screen and (max-width: 950px) {
        .main {
            width: 100%;
            margin: 0;
        }

        .main > .container {
            padding: 10px;
        }

        .container .page {
            padding: 0;
        }
    }
</style>