@page "/Library"
@inherits MixApp.Pages.LibraryBase

@inject LocaleManager LM
@inject GlobalEvent GlobalEvent

<PageTitle>Library</PageTitle>

<div class="page">
    <h1>Waiting Queue</h1>

    <FluentDataGrid Items="@GlobalEvent.WaitQueue.AsQueryable()" GridTemplateColumns="1fr 2fr 9fr 2fr 2fr" ResizableColumns=true>
        <TemplateColumn Title="Logo">
            <img class="icon" src=@(GetIcon(context)) onerror="javascript:this.src='https://www.conchbrain.club/favicon.ico'" loading="lazy" />
        </TemplateColumn>

        <TemplateColumn Title="PackageName" >
            <p class="line">@context.PackageName</p>
        </TemplateColumn>

        <TemplateColumn Title="Description">
            <p class="line">@context.ShortDescription</p>
        </TemplateColumn>

        <TemplateColumn Title="Publisher">
            <p class="line">@context.Publisher</p>
        </TemplateColumn>

        <TemplateColumn Title="Action">
            <FluentButton Appearance="Appearance.Accent">Info</FluentButton>
            <FluentButton Appearance="Appearance.Accent">Pause</FluentButton>
        </TemplateColumn>
    </FluentDataGrid>
</div>

<style>
    .page {
        width: 100%;
        padding: 10px;
    }

    .page h1 {
        margin: 0 10px 20px 10px;
    }

    .page img {
        height: 30px;
    }

    .page .line {
        height: 30px;
        line-height: 30px;
        margin-bottom: 0;
    }
</style>